.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    color: rgb(231, 220, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    font-family: montserrat, sans-serif;
  }
  
  .dropdown .dropbtn {
    font-size: 14px; 
    font-family: montserrat, sans-serif; 
    border: none;
    outline: none;
    color: rgb(231, 220, 220);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {

    background-color: rgb(94, 137, 119);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* end navbar */








body {
    background-image: url(images/green-mountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    background-size: cover;
    margin: 0;
}

h1 {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #607d8b;
    margin-top: 20px;
    margin-bottom: 0px;
}

h3 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-top: 0px;
    color: #607d8b;
}

#display {
    text-align: center;
}

/* first column  */
h4 {
    font-family: montserrat, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    text-align: left;
}

#description {
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 25px;
    text-align: left
}

.grid-container {
    display: grid;
    grid-template-columns: 800px auto;
    align-items: center;
}


/* second column */
.second-column {
    font-family: montserrat, sans-serif;
    color: white;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 50px;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#timer {
    vertical-align: top;
    background-color:#333;
    height: 100px;
}

#best-times {
    background-color:#333;
    height: 200px;
    
}

#clues {
    background-color:#333;
    height: 400px;
    overflow: scroll;
}















/* PUZZLE GRID */
.gridbox {
    width: 32px;
    height: 32px;
    background-color: white;
}

div {
    display: block;
}

#transparent {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: white;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#puzzletable tr td {
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
    color: black;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.gridlinev2 {
    width: 2px;
    background-color: black;
}

.gridlinev {
    width: 1px;
    background-color: black;
}

.labelboxh {
    width: 100px;
    height: 32px;
    background-color: white;
    line-height: 32px;
    padding-right: 4px;
    text-align: right;
    font-weight: bold;
}

.hlabel {
    background-color: black;
    width: 22px;
    text-align: center;
}

.gridheadertop {
    background-color: black;
    color: white !important;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}

.gridlineh {
    height: 1px;
    background-color: black;
}

.gridlineh3 {
    height: 3px;
    background-color: black;
}

.labelboxv {
    height: 125px;
    width: 32px;
    background-color: white;
    text-align: center;
}
/* END OF PUZZLE GRID */