.topnav {
    color: white;
    background-color:#222020;
    overflow: hidden;
}

.topnav p {
    float: left;
    color: #222020;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav p:hover {
    background-color: #403d3d;
    color: black;
}

.topnav p.active {
    background-color: #055362;
    color: white;
}

body {
    background-image: url(images/green-mountains.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}

h1 {
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    color: #607d8b;
}

h3 {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32;
    color: #607d8b;
}

#display {
    text-align: center;
}